
#main-form{
  padding-left: 20px;
}

.internal{
  margin-left: 50px;
}

.form-field {
  height: 80px;
  margin-bottom: 20px;
}

.form-field input{
  width: 300px;
  height: 40px;
  border-radius: 5px;
}

.error span{
  color: red;
}